<li><%= category.name %>
<ul>
  <% category.children.each do |child| %>
    <%= render "category/list", :locals => { :category => child } %>
  <% end %>
  <li><%= link_to I18n.t("explore.category.create"), new_category_path(category.id) %></li>
</ul>
</li>
