<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%=t "user_mailer.password_reset" %></h1>
    <p><%=t "user_mailer.password_reset_sentence" %></p>
    <p><%= url_for(:controller => "welcome", :action => "lost_password_use", :token => @user.password_reset_token, :only_path => false) %></p>
  </body>
</html>
