<% @terms.each do |term| %>
  <%= link_to term_path(term), :class => "term #{term.type.downcase[4, term.type.length]}" do %>
    <% tags = Array.new
    term.tags.each do |tag|
      tags << tag.name
    end %>
    <%= term.name %><span class="term_tags"><%= tags.join(', ') %></span>
  <% end %>
<% end %>

<%= render "terms/list_new", :category => @category %>
