<div id="content_show">
  <% if @term.content != nil %>
    <%= sanitize(@term.content,
                 :tags => %w(pre code table tr td p br em strong h1 h2 h3 i u b li ul),
                 :attributes => %w(href title id class style dir)).html_safe %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#content_show').find('pre').addClass('prettyprint');
  });
</script>
