<div id="header">

  <div id="header_logo">abe</div>

  <div id="header_content">
    <% if current_user %>
      <%= link_to I18n.t("general.explore"), explore_path %>
    <% else %>
      <%= link_to I18n.t("general.welcome"), welcome_path %>
    <% end %>
    . <%= link_to I18n.t("tags.trends"), tags_path %>
  </div>

  <div id="header_version">
    0.2-Connelly
  </div>

</div>
