<div id="header">

  <div id="header_logo">abe</div>

  <div id="header_content">
    <% if current_user %>
      <%= link_to I18n.t("general.explore"), explore_path %>
    <% else %>
      <%= render "shared/login" %>
    <% end %>
  </div>

</div>
