<div id="left_bar">
  <p><%= link_to I18n.t("categories.root").downcase, categories_path %></p>
  <ul>
    <% @categories.each do |c| %>
      <%= render "categories/list", :category => c %>
    <% end %>
  </ul>
</div>
