<h1>Welcome</h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="notice error"><%= flash[:error] %></p>
<% end %>

<p>Amazing Brain Extension</p>
<p>Charge Abe, discharge your brain, go party.</p>
