#content {
  .category {
    color: black;
    display: block;
    padding: 5px;
    padding-left: 15px;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
  }

  .category:hover {
    background-color: white;
  }

  .term {
    background-color: #d3e1f2;
  }

  #actions {
    margin: 0;
    padding-right: 10px;
    text-align: right;
    border-bottom: 1px solid #aaa;

    a {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
    }

    .edit {
      color: #038;
      text-decoration: none;
    }

    .edit:hover {
      background-color: #038;
      color: white;
    }

    .delete {
      color: #800;
      text-decoration: none;
    }

    .delete:hover {
      background-color: #800;
      color: white;
    }
  }
}
