#content {
  #category_actions {
    position: relative;
    top: -31px;
    border: 0;
    margin: 0;
    float: right;
  }

  .category {
    color: black;
    display: block;
    padding: 5px;
    padding-left: 15px;
    height: 20px;
    border-bottom: 1px solid #aaa;
    border-left: 10px solid #aaa;
    text-decoration: none;
  }

  .category:hover {
    background-color: white;
  }

  .term {
    color: black;
    display: block;
    padding: 5px;
    padding-left: 15px;
    height: 20px;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
  }

  .term:hover {
    background-color: white;
  }

  .notepad {
    background-color: #d3e1f2;
  }

  .term_abstract {
    display: inline;
    margin-left: 20px;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .actions {
    margin: 0;
    padding-right: 10px;
    text-align: right;
    border-bottom: 1px solid #aaa;
    padding-top: 10px;
    height: 20px;

    input {
      position: relative;
      top: -6px;
    }

    label {
      position: relative;
      top: -6px;
    }

    a {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 11px;
      padding-bottom: 1px;
      text-decoration: none;
    }

    .new {
      color: #038;
    }

    .new:hover {
      background-color: #038;
      color: white;
    }

    .edit {
      color: #b60;
    }

    .edit:hover {
      background-color: #b60;
      color: white;
    }

    .delete {
      color: #800;
    }

    .delete:hover {
      background-color: #800;
      color: white;
    }
  }
}
