#content {
  .term {
    color: black;
    display: block;
    padding: 5px;
    padding-left: 15px;
    height: 20px;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
  }

  .term:hover {
    background-color: white;
  }

  .term_tags {
    margin-left: 20px;
    color: gray;
  }
}
