// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  padding: 0;
  width: 800px;
  height: 500px;
}
