#content {
  #term_actions {
    position: relative;
    top: -31px;
    border: 0;
    margin: 0;
    float: right;
  }

  #term_tags {
    display: block;
    margin: auto;
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #d3d1d2;
    border-bottom: 1px solid #aaa;
  }

  #content_show {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #f3f1f2;
    border: 1px solid #aaa;
    border-top: 0;

    h1 {
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 5px;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-bottom: 1px solid #aaa;
      background-color: #d3d1d2;
      font-size: 26px;
    }

    h2 {
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0;
      border-left: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      background-color: #e3e1e2;
      font-size: 20px;
    }

    h3 {
      padding: 0;
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
      margin-left: 40px;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 0;
      border-bottom: 1px solid #aaa;
      font-size: 18px;
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  textarea {
    padding: 0;
    width: 950px;
    height: 600px;
  }

  .actions {
    margin: 0;
    padding-right: 10px;
    text-align: right;
    border-bottom: 1px solid #aaa;
    padding-top: 10px;

    .public_false {
      color: black;
    }

    .public_false:hover {
      background-color: black;
      color: white;
    }

    .public_true {
      color: #038;
    }

    .public_true:hover {
      background-color: #038;
      color: white;
    }

    .edit {
      color: #b60;
    }

    .edit:hover {
      background-color: #b60;
      color: white;
    }

    .delete {
      color: #800;
    }

    .delete:hover {
      background-color: #800;
      color: white;
    }
  }
}
