// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
  width: 600px;
  margin: auto;
  margin-top: 150px;

  h1 {
    text-align: center;
  }
}
