<li><%= link_to category.name, category_path(category.id) %>
  <ul>
    <% Category.find(:all, :conditions => [ "parent_id = ?", category.id ]).each do |child| %>
      <%= render "categories/list", :category => child %>
    <% end %>
  </ul>
</li>
